<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logoParaAba.svg" />
    <title>LocaCar: Esqueci minha senha</title>

    <link href="https://fonts.googleapis.com/css?family=Inria+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="emailTrocaDeSenha.css">

  </head>
  <body>
    <div id="pagina">
        <nav>
            <a id="logo" href="/login">
                <img src="/img/logo.svg" alt="Logo LocaCar" />
            </a>
        </nav>
      
        <div>
            <form method="post" class="sucessoAoEnviarEmail">
                <h1>Enviamos um link para o seu e-mail cadastrado</h1>
                <p>Cheque sua caixa de entrada :)</p>
                <input type="submit" value="Login" class="btn" />
            </form>
            <div id="iconeSucesso">
                <img src="/img/sucesso.svg" alt="Circulo verde com check"/>
            </div>
        </div>
    </div>
  </body>
</html>