<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logoParaAba.svg" />
    <title>LocaCar: Redefinir minha senha</title>

    <link href="https://fonts.googleapis.com/css?family=Inria+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="redefinirSenha.css">

  </head>
  <body>
    <div id="pagina">
        <nav class="cabecalhoComLogo">
            <a id="logo" href="/login">
                <img src="/img/logo.png" alt="Logo LocaCar" />
            </a>
        </nav>
      
        <div>
            <form method="post" class="novaSenha">
                <p>Redefinição de senha</p>
                <label for="novaSenha">Nova senha:</label>
                <input type="password" placeholder="********"/>
                <label for="confirmarNovaSenha">Confirmar nova senha:</label>
                <input type="password" placeholder="********" />
                <input type="submit" value="Criar nova senha" class="btn" />
            </form>
        </div>
    </div>
  </body>
</html>